
    .bg-style-l{
    		background: #2be22e;
    		text-align: center;
    		padding: 4%;
            font-size: large;
            border-radius: 25px;
            margin-right: auto;
            margin-left: auto;
    }

    .bg-style-r{
    		background: #0085ff;
    		text-align: center;
    		padding: 4%;
            font-size: large;
            border-radius: 25px;
            margin-right: auto;
            margin-left: auto;
    }

    .select-style{
        padding: 6px;
        margin: 6px;
        font-size: large;
    }

    body{
        text-align: center;
        margin:auto;
        color: white;
        margin-top: 3%;
        margin-bottom: 5%;
    }

    .btn-align{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 20%;
    }

    .div-align{
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
        padding: 20px;
    }

    .ul-style{
        list-style-type: none;
    }


    th,td{
        text-align: center;
        padding: 15px;
    }

    .name-stl{
        text-transform: uppercase;
        border: black solid 1px;
    }

    .header{

    }
    /* select style*/
    
        .big {
          font-size: 1.2em;
        }

        .small {
          font-size: .7em;
        }

        .square {
          width: .7em;
          height: .7em;
          margin: .5em;
          display: inline-block;
        }

        /* Custom dropdown */
        .custom-dropdown {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          margin: 10px; /* demo only */
        }

        .custom-dropdown select {
          background-color:#004085;
          color: #fff;
          font-size: inherit;
          padding: .5em;
          padding-right: 2.5em; 
          border: 0;
          margin: 0;
          border-radius: 3px;
          text-indent: 0.01px;
          text-overflow: '';
          /*Hiding the select arrow for firefox*/
          -moz-appearance: none;
          /*Hiding the select arrow for chrome*/
          -webkit-appearance:none;
          /*Hiding the select arrow default implementation*/
          appearance: none;
        }
        /*Hiding the select arrow for IE10*/
        .custom-dropdown select::-ms-expand {
            display: none;
        }

        .custom-dropdown::before,
        .custom-dropdown::after {
          content: "";
          position: absolute;
          pointer-events: none;
        }

        .custom-dropdown::after { /*  Custom dropdown arrow */
          content: "\25BC";
          height: 1em;
          font-size: .625em;
          line-height: 1;
          right: 1.2em;
          top: 50%;
          margin-top: -.5em;
        }

        .custom-dropdown::before { /*  Custom dropdown arrow cover */
          width: 2em;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 0 3px 3px 0;
          background-color: rgba(0,0,0,.2);
        }

        .custom-dropdown::after {
          color: rgba(0,0,0,.6);
        }

        .custom-dropdown select[disabled] {
          color: rgba(0,0,0,.25);
        }